<div fxFlex="100%" fxFlexFill fxLayout="row wrap">
  
<div  *ngFor="let restaurante of arrayRestaurantes">
  <mat-card class="example-card" >
      <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{restaurante.name}}</mat-card-title>
      <mat-card-subtitle>{{restaurante.address}}</mat-card-subtitle>
      </mat-card-header>
        <img src="{{restaurante.picture}}" width="300px" height="250px"> 
      <mat-card-content>
          <p>
              {{restaurante.intolerances}}
          </p>
          <p>
              {{restaurante.timetable}}
          </p>

      </mat-card-content>
      <mat-card-actions>
      <button mat-raised-button color="primary" (click)="openDialogDeleteRestaurant(restaurante)"><i class="material-icons">delete_forever</i></button>
      <button mat-raised-button color="primary" (click)="openDialogEditRestaurant(restaurante)"><i class="material-icons">edit</i></button>
      </mat-card-actions>
  </mat-card>
</div>
</div>