<div fxFlex="100%" fxFlexFill fxLayout="row wrap">
        <button mat-raised-button color="primary"  class="add-button" (click)="openDialogAddNewRecipe()">Agregar Recurso<mat-icon>add</mat-icon></button>
              <br/>
    <div  *ngFor="let receta of arrayRecetas.rows">
        <mat-card class="example-card" >
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{receta.name}}</mat-card-title>
            <mat-card-subtitle>{{receta.ingredients}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{receta.picture.imgurLink}}">
            <mat-card-content>
                <p>
                    {{receta.description}}
                </p>
                <p>
                    {{receta.dinnerguest}}
                </p>

            </mat-card-content>
            <mat-card-actions>
            <button mat-raised-button color="primary" (click)="openDialogDeleteRecipe(receta)"><i class="material-icons">delete_forever</i></button>
            <button mat-raised-button color="primary" (click)="openDialogEditNewRecipe(receta)"><i class="material-icons">edit</i></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>