<div fxFlex="100%" fxFlexFill fxLayout="row wrap">
              <br/>
    <div  *ngFor="let receta of arrayRecetas.rows">
        <mat-card class="example-card" >
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{receta.name}}</mat-card-title>
            <mat-card-subtitle>{{receta.ingredients}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{receta.picture}}">
            <mat-card-content>
               
                <p>
                    {{receta.dinnerguest}} 
                </p>

            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>
</div>